*{
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
}
/* chuong 10: introduct css */
h2{
    border: 1px solid rgb(223, 159, 159);
    border-radius: 20px;
    color:  hsl(66, 73%, 58%);
    width: 100%;
    height: 50px;
    background-color: rgb(211, 143, 154);
    margin-bottom: 20px;
}
#header > p{
    width: 150px;
    height: 30px;
    background-color: #d9e3c5;
    box-shadow: 5px 5px #88b096;
}
#content p{
    font-size: 15px;
    color: #6d4141;
}
/* chuong 11: color */
p.one {
    background-color: rgb(1,100,1);
    opacity: 0.5;
    text-transform: capitalize;
    word-spacing: 10px;
    text-align: center;
}
p.two {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
    text-transform: lowercase;
    letter-spacing: 5px;
}
/* chương 12: text */
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 600;
    font-style: italic;
}
.text p{
    line-height: 2em;
}
.text #none{
    text-decoration: none;
    color:#cc4218;
    background-color: lightblue;
}
.text #underline{
    text-decoration: underline;
    color: rgb(83 83 9);
    background-color: lightgreen;
}
.text #overline{
    text-decoration: overline;
    color: rgb(92, 92, 175);
    background-color: lightsalmon;
}
.text #line-through{
    text-decoration: line-through;
    color:#160c20;;
    background-color: olive;
}
.text #blink{
    text-decoration: blink;
    color: cadetblue;
    background-color: orange;
}
.text #inherit{
    text-decoration: inherit;
    color: lavender;
    background-color: orchid;
}
h2:hover{
    color:peru;
    border-width: thick;
}
input:focus{
    background-color: rgb(211, 143, 154);
}
/* chuong 13: boxes */
.boxes{
    margin-bottom: 20px;
}
.min-max{
    min-width: 100px;
    max-width: 200px;
    min-height: 10px;
    max-height: 90px;
    text-align: left;
    overflow: scroll;
}
/* chuong 14: Lists, Tables and Forms */
.home{
    border-bottom: 2px solid;
    padding-right: 15px;
}
.row{
    padding: 10px;
}
tbody tr:nth-child(even){
    background-color: rgb(241, 236, 236);
}
td {
    border: 1px solid #0088dd;
    padding: 15px;
}
table.one {
    empty-cells: show;}
